* {
  padding: 0px;
  margin: 0px;
}

body {
  background: rgb(252, 208, 130);
  background: linear-gradient(
    0deg,
    rgba(252, 208, 130, 1) 0%,
    rgba(255, 190, 221, 1) 100%
  );
  font-family: VT323;
}

/*HEADER*/

header {
  height: 10vh;
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  color: black;
}

/*ABOUT*/

h3 {
  text-align: center;
  padding: 8vh 18vw;
  font-size: 22px;
}

/*FORM*/

.cat-img {
  height: 40vh;
  width: auto;
  padding-right: 5vw;
}

.form {
  height: 42vh;
  background-image: url("#");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

form .input-name,
form .input-review {
  font-size: 16px;
  border: 2px solid palevioletred;
}

form .input-name {
  padding: 0px 1vw;
  height: 30px;
  width: 10vw;
}

.seasons {
  display: flex;
  border: none;
  margin: 1vh 0vw;
  width: 13vw;
  display: flex;
  justify-content: space-evenly;
}

form .input-review {
  padding: 1vh 1vw;
  height: 20vh;
  width: 35vw;
  margin-bottom: 2vh;
  resize: none;
}

/*submit button*/

form button {
  border: none;
  color: white;
  background-color: palevioletred;
  width: 5vw;
  padding: 0.5vh 0vw;
  align-self: end;
}

form button:hover {
  cursor: pointer;
}

form button:active {
  transform: translateY(5px);
  color: palevioletred;
  background-color: white;
}

/*submissions*/

h4 {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 5vh;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("#");
  padding: 5vh 3vw;
}

.user-reviews h2,
.user-reviews p {
  color: black;
  background-color: white;
  width: 30vw;
  padding: 2vh 1vw;
}

.user-reviews p {
  margin-bottom: 5vh;
  padding: 0vh 1vw 2vh 1vw;
  font-size: 20px;
}

/*FOOTER*/

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  font-size: 24px;
  color: palevioletred;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: white;
}

/*MEDIA QUERIES*/
