* {
  padding: 0px;
  margin: 0px;
}

body {
  background: rgb(252, 208, 130);
  background: linear-gradient(
    0deg,
    rgba(252, 208, 130, 1) 0%,
    rgba(255, 190, 221, 1) 100%
  );
  font-family: VT323;
}

/*HEADER*/

header {
  padding: 5vh 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 32px;
  color: black;
}

h2 {
  font-size: 16px;
}

.sunflower {
  height: 5vh;
  display: flex;
  align-items: center;
}

/*ABOUT*/

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

/*FORM*/

.cat-img {
  height: 40vh;
  width: auto;
  margin: 5vh 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

form .input-name,
form .input-status {
  font-size: 16px;
  border: 2px solid palevioletred;
  width: 80vw;
}

form .input-name {
  padding: 0px 1vw;
  height: 30px;
}

legend {
  text-align: center;
  width: 60vw;
}

.seasons {
  display: flex;
  border: none;
  margin: 1vh 0vw;
  width: 13vw;
  display: flex;
  justify-content: space-evenly;
}

form .input-status {
  padding: 1vh 1vw;
  height: 50vh;
  margin-bottom: 2vh;
  resize: none;
}

/*SUBMIT BUTTON*/

form button {
  border: none;
  color: white;
  background-color: palevioletred;
  width: 30vw;
  height: 8vh;
}

form button:hover {
  cursor: pointer;
}

form button:active {
  transform: translateY(5px);
  color: palevioletred;
  background-color: white;
}

/*SUBMISSIONS*/

h4 {
  font-size: 24px;
  text-decoration: underline;
  margin: 10vh 0vw;
}

.submissions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-submission h2,
.user-submission p {
  color: black;
  background-color: white;
  width: 80vw;
}

.user-submission h2 {
  padding: 2vh 1vw 1vh 1vw;
}

.user-submission p {
  padding: 0vh 1vw 2vh 1vw;
  font-size: 20px;
}

.status {
  margin-bottom: 1vh;
}

.like-button {
  margin-left: 95%;
  margin-bottom: 3vh;
  background-color: transparent;
  border: none;
}

.like-button:hover {
  cursor: pointer;
}

.like-button:active {
  transform: translateY(5px);
}

/*FOOTER*/

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  font-size: 24px;
  color: palevioletred;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: white;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  header {
    justify-content: space-around;
  }
  .sunflower {
    height: 10vh;
  }
  h3 {
    font-size: 20px;
    height: 30vh;
  }
  .cat-img {
    height: 30vh;
    margin: 0px 5vw 0px 0px;
  }
  form {
    align-items: start;
    margin-top: 5vh;
  }
  .form {
    flex-direction: row;
  }
  form .input-name {
    width: 20vw;
  }
  form .input-submission {
    width: 60vw;
    height: 30vh;
  }
  legend {
    text-align: left;
    width: 20vw;
  }
  .seasons {
    justify-content: left;
  }
  form button {
    width: 10vw;
    height: 5vh;
    align-self: end;
  }
  .user-submission h2,
  .user-submission p {
    width: 60vw;
  }
}

@media (min-width: 1280px) {
  .sunflower {
    height: 10vh;
  }
  .user-submission h2,
  .user-submission p {
    width: 40vw;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 5vw;
  }
  .cat-img {
    height: 35vh;
    margin: 0px 10vw 0px 0px;
  }
  form .input-name {
    width: 10vw;
  }
  form .input-status {
    width: 45vw;
    height: 25vh;
  }
  form button {
    width: 8vw;
  }
  .user-submission h2,
  .user-submission p {
    width: 30vw;
  }
}
